// Color palette.
$blue: #BCF4F5;
$green: #97EDA2;
$grey: #A9ABAC;
$lilac: #D0B5F3;
$pink: #E7A1D7;
$transparent-black: #000000CC;
$yellow: #F6F6B6;

// Reset the default styling.
* { all: unset; }

// Shared mixins.
@mixin bordered-box($color: $lilac, $filled: true) {
    @if $filled { background-color: rgba($color, 0.3); }

    border: 1px solid $color;
    border-radius: 4px;
}

// Status bar.
$status-colors: ('green': $green, 'lilac': $lilac, 'pink': $pink, 'yellow': $yellow);
@each $name, $color in $status-colors {
    .#{$name}-status-box {
        @include bordered-box($color);

        font-family: 'Cartograph CF';
        font-size: 12px;
        font-weight: 600;
        padding: 0px 5px;
    }
}

window#calendar {
    & .lilac-status-box { background-color: $transparent-black; }

    & calendar {
        padding: 4px 4px 2px 4px;

        &.highlight, &.button, &:selected { color: $lilac; }
    }
}

tooltip {
    @include bordered-box($lilac, false);

    background-color: $transparent-black;
    font-family: 'Cartograph CF Italic';
    font-size: 11px;
}

// Notification popups.
.notif {
    @include bordered-box($blue, false);

    background-color: $transparent-black;
    color: $blue;
    font-family: 'Cartograph CF';
    font-size: 12px;
    padding: 8px;
}

.notif-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 18px;
    min-width: 18px;
}

// Backlight/audio popups.
.system-popup {
    color: $grey;
    min-height: 120px;
    min-width: 120px;
}

// Application launcher.
window#applauncher {
    @include bordered-box($lilac, false);

    background-color: $transparent-black;
    font-size: 14px;

    .launcher-scrollable {
        margin: 8px;

        scrolledwindow {
            min-height: 400px;
            min-width: 350px;
        }
    }

    entry {
        @include bordered-box(#FFF);

        padding: 4px;
        margin-bottom: 8px;
    }

    button {
        border-radius: 4px;
        font-weight: 500;
        padding: 2px;

        &:focus { background-color: #D0B5F330; }

        .app-description {
            font-size: 12px;
            font-style: italic;
            color: $grey;
        }
    }
}

// Bottom dock.
window#dock {
    @include bordered-box($lilac, false);

    background-color: $transparent-black;
    
    .center-box {
        padding: 0 2px;
    }

    .dock-box {
        @include bordered-box(#FFF);

        margin: 4px 2px;
        padding: 2px;
    }

    button:hover {
        color: $pink;
        background-color: rgba($pink, 0.3);
        border-color: $pink;
    }

    .system-info {
        color: $grey;
        margin: 0 8px;
    }

    .dock-timezone {
        font-family: 'Cartograph CF';
        font-style: italic;
        color: $pink;
        margin-left: 16px;
    }
}

.dock-menu {
    @include bordered-box($lilac, false);

    background-color: $transparent-black;
    font-size: 12px;
    padding: 4px 8px;

    menuitem {
        padding: 2px 0;
    }

    menuitem:hover {
        font-weight: 800;
    }
}
