// Color palette.
$blue: #BCF4F5;
$green: #97EDA2;
$grey: #A9ABAC;
$lilac: #D0B5F3;
$pink: #E7A1D7;
$yellow: #F6F6B6;

// Reset the default styling.
* { all: unset; }

// Shared mixins.
@mixin bordered-box($color: $lilac, $filled: true) {
    @if $filled {
        background-color: rgba($color, 0.3);
    }

    border: 1px solid $color;
    border-radius: 4px;
}

// Status bar.
%status-box {
    font-family: 'Cartograph CF';
    font-size: 10px;
    font-weight: 600;
    padding: 0px 5px;
}

$status-colors: ('green': $green, 'grey': $grey, 'lilac': $lilac, 'pink': $pink, 'yellow': $yellow);
@each $name, $color in $status-colors {
    .#{$name}-box {
        @extend %status-box;
        @include bordered-box($color);
    }
}

calendar {
    padding: 2px;
    &.highlight, &.button, &:selected { color: $lilac; }
}

// Notification popups.
.popup {
    @include bordered-box($blue, false);

    font-family: 'Cartograph CF';
    font-size: 10px;
    padding: 5px;
    background-color: #00000090;
    color: $blue;
}

.popup-title {
    font-weight: 600;
    font-style: italic;
}

// Backlight/audio popups.
.system-popup {
    min-width: 80px;
    min-height: 80px;
    color: $grey;
}

// Dashboard.
.dashboard-overlay {
    @include bordered-box($lilac, false);
}
