// Color palette.
$fuchsia: #E11299;
$lilac: #D0B5F3;

* {
    // Reset the default styling.
    all: unset;
}

// Need to keep a tiny margin because otherwise the collapsing prevents the children from being shown again.
.expander {
    margin-top: -8.9px;
}

.icon {
    // Font with Nerdfonts support.
    font-family: 'Hasklug Nerd Font Mono';
    font-size: 14px;
    color: $lilac;
    margin-top: -1px;
}

.box {
    background-color: rgba($lilac, 0.3);
    border: 1px solid $lilac;
    border-radius: 5px;
    border-width: 1px;
    font-family: 'Cartograph CF';
    font-size: 10px;
    font-weight: 600;
}

.menubar-time-box {
    padding: 0 5px;
}

.calendar {
    padding: 5px 5px 0 5px;
}

calendar {
    padding: 3px;
    &.highlight {
        color: $lilac;
    }
}

calendar.button {
    color: $lilac;
}

calendar:selected {
    color: $fuchsia;
}
