// Color palette:
$blue: #BCF4F5;
$green: #97EDA2;
$lilac: #D0B5F3;
$pink: #E7A1D7;
$transparent-black: #000000CC;
$yellow: #F6F6B6;

// Reset the default styling and configure my font:
* {
    font-family: 'Cartograph CF';
    font-size: 12px;
}

window#waybar { all: unset; }

// Shared mixins:
@mixin bordered-box($color, $filled: true) {
    @if $filled { background-color: rgba($color, 0.3); }

    border: 1px solid $color;
    border-radius: 4px;
}

// Modules:
$battery-colors: ('': $green, '.warning': $yellow, '.critical': $pink, '.charging': $blue);
@each $class, $color in $battery-colors {
    #battery#{$class} {
        @include bordered-box($color);

        padding: 0 4px;
    }
}

#clock {
    @include bordered-box($lilac);

    padding: 0 4px;
}

#custom-power {
    color: $pink;
    margin-right: 16px;
}

#network, #power-profiles-daemon {
    @include bordered-box($green);

    padding: 0 8px;
}

#workspaces {
    @include bordered-box($lilac);
}

#workspaces button {
    border-radius: 4px;
    min-height: 18px;
    padding: 0 4px;
}

#workspaces button.active {
    color: $pink;
    font-weight: bold;
}

// Dock:
window#waybar.dock {
    @include bordered-box($lilac, false);

    background-color: $transparent-black;
}

// Dark purple tooltips!
tooltip, menu {
    @include bordered-box($lilac, false);

    background-color: $transparent-black;
    font-style: italic;
    font-size: 11px;
}

menuitem:hover {
    font-weight: bold;
}
