// Color palette:
$blue: #bcf4f5;
$fuchsia: #e11299;
$green: #97eda2;
$lilac: #d0b5f3;
$pink: #e7a1d7;
$transparent-black: #000000cc;
$yellow: #f6f6b6;

// Consistent styling:
$border-radius: 4px;

// Reset the default styling and configure my font:
* {
    font-family: "Cartograph CF";
    font-size: 12px;
}

window#waybar {
    all: unset;
}

// Shared mixins:
@mixin bordered-box($color, $filled: true) {
    @if $filled {
        background-color: rgba($color, 0.3);
    }

    border: 1px solid $color;
    border-radius: $border-radius;
}

// Modules:
$battery-colors: (
    "": $green,
    ".warning": $yellow,
    ".critical": $pink,
    ".charging": $blue,
);
@each $class, $color in $battery-colors {
    #battery#{$class} {
        @include bordered-box($color);

        padding: 0 4px;
    }
}

#clock {
    @include bordered-box($lilac);

    padding: 0 4px;
}

#custom-power {
    color: $pink;
    font-size: 18px;
    margin-right: 16px;
}

#network,
#power-profiles-daemon {
    @include bordered-box($green);

    padding: 0 8px;
}

#bluetooth,
#pulseaudio {
    @include bordered-box($blue);

    padding: 0 6px;
}

#workspaces {
    @include bordered-box($lilac);
}

#workspaces button {
    border-radius: $border-radius;
    min-height: 18px;
    padding: 0 4px;
}

#workspaces button.active {
    color: $pink;
    font-weight: bold;
}

#custom-notifications {
    @include bordered-box($lilac);

    padding: 0 4px;

    &.notification,
    &.dnd-notification,
    &.dnd-inhibited-notification {
        @include bordered-box($fuchsia);
    }
}

// Dock:
window#waybar.dock {
    @include bordered-box($lilac, false);

    background-color: $transparent-black;
}

// Dark purple tooltips!
tooltip,
menu {
    @include bordered-box($lilac, false);

    background-color: $transparent-black;
    font-size: 11px;
}

menuitem:hover {
    font-weight: bold;
}
